/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

:root {
    --background: #ededed;
    --foreground: #0a0a0a;
    --primaryLight: #feeded;
    --accent: #ff4d00;
    --secondaryDark: #01132b;

    --boxPrimaryLight: 5px 5px 7px rgba(254, 237, 237, 0.3);
    --textPrimaryLight: 5px 5px 5px rgba(254, 237, 237, 0.7);
    --textDark: 5px 5px 3px rgba(255, 134, 142, 0.7);
    --primaryDarkGradient: linear-gradient(
        180deg,
        rgba(4, 106, 18, 0.05) 0%,
        rgba(4, 106, 18, 0.05) 23.23%,
        rgba(4, 106, 18, 0.05) 78.44%,
        rgba(4, 106, 18, 0.05) 100%
    );
}

html {
    font-family: serif;
    box-sizing: border-box;
    overflow: scroll;
    height: 100%;
}
body {
    background: var(--background);
    color: var(--primaryLight);
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
}
img {
    display: block;
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --primaryLight: var(--primaryLight);
    --accent: var(--accent);
    --secondaryDark: var(--secondaryDark);

    --textPrimaryLight: var(--textPrimaryLight);
    --textDark: var(--textDark);
    --boxPrimaryLight: var(--boxPrimaryLight);
    --primaryDarkGradient: var(--primaryDarkGradient);
}

@media (hover: hover) {
    .hover\:underline:hover {
        text-decoration: underline;
    }
}

@layer utilities {
    .bg-header {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("./assets/images/headerBackground2.png"),
            url("./assets/images/headerBackground1.png");
        background-size: cover, cover, cover;
        background-position: center, center, center;
        background-repeat: no-repeat, no-repeat, no-repeat;
    }

    .bg-footer {
        background: linear-gradient(rgba(2, 21, 65, 0.5), rgba(2, 21, 65, 0.5)),
            url("./assets/images/bg-footer.png");
        background-size: cover, cover, cover;
        background-position: center, center, center;
        background-repeat: no-repeat, no-repeat, no-repeat;
    }
}
/* background: linear-gradient(
                rgba(245, 127, 251, 0.1),
                rgba(245, 127, 251, 0.1)
            ),
            linear-gradient(rgba(2, 21, 65, 1), rgba(2, 21, 65, 1)); */
/* @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

/* html {
    box-sizing: border-box;
    overflow: scroll;
    height: 100%;
} */

/* body {
    background: var(--background);
    color: var(--primaryLight);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
} */

/* img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: fill;
} */
/* h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
} */
/* ul {
    list-style: none;
    padding: 0;
    margin: 0;
} */
/* a {
    text-decoration: none;
    color: inherit;
} */
